<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Hangfire.Core" version="1.5.9" allowedVersions="[1.5.9]" targetFramework="net461" />
  <package id="Hangfire.SqlServer" version="1.5.9" allowedVersions="[1.5.9]" targetFramework="net461" />
  <package id="Its.Log" version="2.9.14" targetFramework="net461" />
  <package id="Naos.Build.Analyzers" version="1.49.0" targetFramework="net461" developmentDependency="true" />
  <package id="Naos.Compression.Domain" version="1.0.5" targetFramework="net461" />
  <package id="Naos.Cron" version="1.0.15" targetFramework="net461" />
  <package id="Naos.Serialization.Domain" version="1.0.42" targetFramework="net461" />
  <package id="Naos.Serialization.Json" version="1.0.42" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net461" />
  <package id="OBeautifulCode.TypeRepresentation" version="1.0.8" targetFramework="net461" />
  <package id="Owin" version="1.0" targetFramework="net45" />
  <package id="Spritely.Recipes.MustValidation" version="0.6.3" targetFramework="net461" developmentDependency="true" />
  <package id="Spritely.Recipes.Redo" version="0.5.2" targetFramework="net461" developmentDependency="true" />
  <package id="StyleCop.Analyzers" version="1.0.2" targetFramework="net461" developmentDependency="true" />
</packages>