<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Its.Log" version="2.8.3" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net45" />
  <package id="SimpleInjector" version="2.8.3" targetFramework="net45" />
  <package id="Spritely.Recipes.Functional" version="0.2.1" targetFramework="net45" developmentDependency="true" />
  <package id="Spritely.Recipes.InheritedTypeJsonConverter" version="0.4.0" targetFramework="net45" developmentDependency="true" />
  <package id="Spritely.Recipes.JsonConfiguration" version="0.7.0" targetFramework="net45" developmentDependency="true" />
  <package id="Spritely.Recipes.SecureString" version="0.2.2" targetFramework="net45" developmentDependency="true" />
  <package id="Spritely.Recipes.SecureStringJsonConverter" version="0.2.0" targetFramework="net45" developmentDependency="true" />
</packages>