<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentMigrator" version="1.6.2" targetFramework="net461" />
  <package id="Naos.Build.Analyzers" version="1.51.0-dealwithstylecopbeta" targetFramework="net461" developmentDependency="true" />
  <package id="Spritely.Recipes.MustValidation" version="0.6.3" targetFramework="net461" developmentDependency="true" />
  <package id="StyleCop.Analyzers" version="1.1.0-beta004" targetFramework="net461" developmentDependency="true" />
</packages>