<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentMigrator" version="1.6.2" targetFramework="net461" />
  <package id="Naos.Build.Analyzers" version="1.55.23" targetFramework="net462" developmentDependency="true" />
  <package id="OBeautifulCode.Assertion.Recipes.Must" version="1.0.15" targetFramework="net462" developmentDependency="true" />
  <package id="OBeautifulCode.Equality.Recipes.EqualityHelpers" version="1.0.19" targetFramework="net462" developmentDependency="true" />
  <package id="OBeautifulCode.Type.Recipes.TypeExtensions" version="1.0.39" targetFramework="net462" developmentDependency="true" />
  <package id="StyleCop.Analyzers" version="1.1.118" targetFramework="net462" developmentDependency="true" />
</packages>